body{
    background-color: rgb(241, 229, 241);
}

/* Navigation Section  */
#navbar{
    flex-direction: column;
    padding-bottom: 8px;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 2px 7px;

}

/* Home Section  */

#home-section{
    height: 370px;
    padding: 6px 68px;
}

#home-section::before{
    height: 480px;
}

#home-section p{
    font-size: 18px;
}

/* Services Section  */
#services{
    flex-direction: column;
}

#services .box{
    /* border: 2px solid brown; */
    padding: 15px 10px;
    margin: 25px 0px;
    border-radius: 20px;
    background-color:#efe8e8;
    box-shadow: 8px 8px 10px rgb(82, 83, 82);
}

#services .box img:hover{
    transition-duration: 1s;
    transform: scale(1.06);
}

/* Client Section  */
#clients{
    flex-wrap: wrap;
    margin-bottom: 100px;
}

#clients img{
    width: 70px;
    padding: 2px 6px;
    height: auto;

}

#client-section::before{
    background: url(../bg.jpg);
    height: 80%;

}

/* Contract Us Section  */
#contract-box form{
    width: 80%;
}

#contract-box label{
    font-size: 1rem;
    font-family: 'Bree Serif', serif;
}


/* Utility Classes  */
.h-primary{
    font-size: 30px;
}

.btn{
    font-size: 15px;
    padding: 6px 12px;
}